
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
.header{
	background:#f0f0f0;
	width:100%; height: 80px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}